@using PratikAraBul.Models
@model HizmetlerModel





@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/details.css" rel="stylesheet" />


</head>

<body>

    <div class="details">
        @if (Model.HizmetlerList.Count() > 0)
        {
            <div class="leftcolumn">

                @foreach (var item in Model.HizmetlerList)
                {
                    <div class="cards">
                        <h1>@item.HizmetAdi.ToUpper()</h1>
                        <p>@Html.Raw(item.BaslikAlti)</p>

                        <div class="card maincard">
                            <img src="~/images/@item.HizmetResimUrl" class="mainimg">
                        </div>




                        <p>@Html.Raw(item.HizmetDesc)</p>

                    </div>
                }

            </div>

            <div class="rightcolumn">
                <h3>En Çok Arananlar</h3>
                @foreach (var popular in Model.PopularHizmetList)
                {
                    <div class="cards">

                        @Html.ActionLink(popular.PopularAd.ToUpper(), "Details", "MusteriHizmetleriNumaralari", new { id = popular.HizmetId, hizmetadi = Seo.AdresDuzenle(popular.PopularAd) }, new { @class = "populerlinks" })

                        <img class="fakeimg" src="~/images/@popular.PopularImageUrl" /><br>

                    </div>

                }

            </div>
        }


    </div>
    @if (Model.HizmetlerList.Count() == 0 ){
       
            @Html.Action("AramaSonucuBulunamadi", "Error")
        
    }




    @*@Html.Action("Comments", "MusteriHizmetleriNumaralari")*@


    <a href="#" class="top">Yukarı Çık &#8593;</a>


</body>

</html>
