@using PratikAraBul.Models
@model HizmetlerModel


@{
    foreach (var item in Model.HizmetlerList)
    {
       ViewBag.Title = @item.HizmetAdi.ToUpper();
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/details.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <div class="details">
        <div class="leftcolumn">
            @foreach (var item in Model.HizmetlerList)
            {
                <div class="cards">
                    <h1>@item.HizmetAdi.ToUpper()</h1>
                    <hr />
                    <div class="baslikalti">
                        @Html.Raw(item.BaslikAlti)
                    </div>
                    <div class="card maincard">
                        <img src="~/images/@item.HizmetResimUrl" class="mainimg">
                    </div>

                    <div class="hizmetdesc" >
                        @Html.Raw(item.HizmetDesc)
                    </div>
                  

                </div>
            }
        </div>


        <div class="rightcolumn">
            <h3>En Çok Arananlar</h3>
            @foreach (var popular in Model.PopularHizmetList)
            {
                <div class="cards">

                    @Html.ActionLink(popular.PopularAd.ToUpper(), "Details", "MusteriHizmetleriNumaralari", new { id = popular.HizmetId, hizmetadi = Seo.AdresDuzenle(popular.PopularAd) }, new { @class = "populerlinks" })

                    <img class="fakeimg" src="~/images/@popular.PopularImageUrl" /><br>

                </div>

            }

        </div>




    </div>
    <div class="comments-details">

        @Html.Action("Comments", "MusteriHizmetleriNumaralari")
    </div>
    <a href="#" class="top">Yukarı Çık &#8593;</a>
</body>

</html>
