@using PratikAraBul.Models.Entity
@using PratikAraBul.Models.Entity
@model PagedList.IPagedList<tblHizmetler>
@using PagedList
@using PagedList.Mvc
@using PratikAraBul.Models


@{
    ViewBag.Title = "Müşteri Hizmetleri İletişim Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pratik Ara Bul | Firmaların Müşteri Hizmetleri </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/Content/musteriHizmetleriNumaralari.css" rel="stylesheet" />
    <link href="~/Content/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="jumbotron bg-cover text-white">
        <div class="container py-5 text-center">
            <h1 class="display-4 font-weight-bold">ARADIĞINIZ TÜM FİRMALARIN MÜŞTERİ HİZMETLERİ İLETİŞİM BİLGİLERİ BURADA</h1>



        </div>
    </div>


    <div class="sample-section">

        <div class="container-paged">
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
               {
                    LiElementClasses = new List<string>
                    {
                        "page-link","pagedlist"
                    }
                })
        </div>

        <div class="row">


            <main class="hizmetlercardmain">

                <section class="hizcards">
                    @foreach (var hizmet in Model)
                    {
                        <div class=" hizmetlercard">
                            <div class=" hizcardimg">
                                <img src="~/images/@hizmet.HizmetResimUrl">
                            </div>
                            <div class="card-contents">
                                <a href="musterihizmetlerinumaralari/details/@hizmet.HizmetId/@(Seo.AdresDuzenle(hizmet.HizmetAdi))">@hizmet.HizmetAdi.ToUpper()</a>


                            </div>
                        </div>
                    }

                </section>


            </main>
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
            {
                LiElementClasses = new List<string>
      {
          "page-link","pagedlist"
      }
            })

            <div class="slide-container swiper">
                <div class="slide-content">
                    <div class="card-wrapper swiper-wrapper">



                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="~/images/hesaplama_sileder.png" alt="" class="card-img" />
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Hesaplama Araçlari</h2>
                                <p class="description">Kredi Hesaplama, Faiz Hesaplama, Tyt Hesaplama, AYT hesaplama, Karne Notu Hesaplama, Ortalama Hesapalama</p>

                                <a class="button" href="">View More</a>
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="~/images/customer_slider.png" alt="" class="card-img" />
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Markaların Müşteri Hizmetleri</h2>
                                <p class="description">Popüler tüm markaların müşteri hizmetleri iletişim bilgilerine hemen ulaşmak istiyorsan işte tam burada.</p>

                                @Html.ActionLink("Öğren", "index", "musterihizmetlerinumaralari", null, new { @class = "button" })
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="~/images/date_slider.png" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Kalan Gün Sayaçları</h2>
                                <p class="description">Kurbana kaç gün kaldı @DateTime.Now.Year,kurban bayramı @DateTime.Now.Year, bayrama kaç gün kaldı, okulların açılmasına kaç gün kaldı @DateTime.Now.Year, tatile kaç gün kaldı @DateTime.Now.Year </p>

                                <button class="button">View More</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/swiper-bundle.min.js"></script>
    <script src="~/Scripts/aramascript.js"></script>
    <!--Header bölümü script-->
    <script>
        function parallax_height() {
            var scroll_top = $(this).scrollTop();
            var sample_section_top = $(".sample-section").offset().top;
            var header_height = $(".sample-header-sections").outerHeight();
            $(".sample-section").css({ "margin-top": header_height });
            $(".sample-header").css({ height: header_height - scroll_top });
        }
        parallax_height();
        $(window).scroll(function () {
            parallax_height();
        });
        $(window).resize(function () {
            parallax_height();
        });
    </script>
</body>
</html>
